.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.footer-content > * {
    height: 200px;
    width: 280px;
}

.get-started h4,
.about h4,
.contact h4{
    font-size: 24px;
    font-weight: 700;
}
.contact address{
    width: 200px;
}

.company-logo img{
    margin: auto;
    margin-bottom: 25px;
}
.company-logo button{
    background: linear-gradient(180deg, #DFED5A 0%, #47980B 100%);
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    width: 280.46px;
    color: #414141;
    font-weight: 500;
}
@media screen and (max-width: 1179px) {
    .footer-content{
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 619px) {
    .footer-content{
        text-align: center;
    }
    .contact address{
        width: 100%;
    }
}