.nav-container ul{
    padding: 40px;
}
.nav-container ul li{
    font-weight: 500;
    color: #414141;
    /* line-height: 5; */
    padding: 10px 20px 10px 20px;
}

.nav-container .group-find{
    color: #FFFFFF;
    background: linear-gradient(180deg, #3ED2FF 0%, #1839D8 100%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.nav-container .group-start{
    color: #FFFFFF;
    background: linear-gradient(180deg, #DFED5A 0%, #47980B 100%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}